[Unit]
Description=Enables and configures the fake MidoNet static uplink interfaces
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/create_fake_uplink_l2.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
